# By default, ignore _all_ files, but not directories
*
!*/

# Tools (need to be removed)
.ruff_cache/
_binaries/
_workdir/

# Git
!.gitattributes
!.gitignore
!LICENSE

# Timing and subs
!*.log
!*.ass
!*.srt

# Fonts
!*.ttf
!*.otf
!*.ttc

# Scripts
!scripts/*
!mux.py